.countries{
    background-image: url(images/Globe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
body{
    width: 800px; /* Set your desired width */
    width:70%;
    height:200px;
    overflow-x:scroll;
    margin: 0 auto; /* Center horizontally */
}
img{
    height: 150px;
}
.Pakistan{
    background-image: url(images/pakistan.ico);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.US{
    background-image: linear-gradient(blue, white, red);
}
.hi{
    background-color: rgb(20, 20, 20);
}
.img{
    height: 150;
    border: white;
    margin-top: 50px;
    }
.bi{
    background-color: white;
}
.one ul li {
            
    list-style-type:"🦥";
    background-color: aqua;
    border: 2px double
     red;
     list-style-position: inside;
}
.box{
    width: 30dvh;
    height: 30dvh;
    border: 2px double dodgerblue;
    overflow-y: hidden;
    overflow-x: scroll;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}